@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin-bottom: 500px;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

/* 
button {
  font-size: 16px;
  padding: 0.3em 0.8em;
  border-radius: 4px;
  border: 1px solid #777;
  cursor: pointer;
} */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.card {
  padding: 1rem;
  -webkit-box-shadow: 5px 5px 10px rgb(180, 190, 194);
          box-shadow: 5px 5px 10px rgb(180, 190, 194);
  border: 1px solid rgb(191, 180, 180);
  border-radius: 5px;
  background-color: snow;
}

.container {
  max-width: 1280px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.flexSpBt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.btn {
  border-radius: 49.46px;
  border: 4px solid black;
  background-color: #fff;
  padding: 22px 56px 23px 56px;
  color: rgb(17, 17, 17);
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
}

.btn-gradient {
  background: -webkit-gradient(linear, left top, right bottom, from(#fff), to(#fff)) padding-box, -webkit-gradient(linear, left top, right bottom, from(#FF3998), color-stop(#FF8139), color-stop(#39FFA0), to(#FF3939)) border-box;
  background: linear-gradient(to bottom right, #fff, #fff) padding-box, linear-gradient(to bottom right, #FF3998, #FF8139, #39FFA0, #FF3939) border-box;
  border-radius: 49.46px;
  border: 4px solid transparent;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.max-w-300 {
  max-width: 300px;
}

.header {
  padding-top: 32px;
  overflow: hidden;
}
.header .burgerIcon {
  color: rgb(153, 153, 153);
  font-size: 22px;
}

.hero {
  max-width: 1280px;
  overflow: hidden;
  margin-bottom: 80px;
}
.hero .hero-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 42px;
  min-width: 482.62px;
}
.hero .hero-flex .hero-img-div {
  position: relative;
}
.hero .hero-flex .hero-img-div .hero-img {
  position: absolute;
  max-width: none;
  height: 366px;
  top: -30px;
  left: -105px;
}
.hero .hero-flex .hero-description {
  -ms-flex-preferred-size: 274px;
      flex-basis: 274px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 274px;
  padding-top: 38px;
}
.hero .hero-flex .hero-description .hero-pretitle {
  color: #FF3998;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.hero .hero-flex .hero-description .hero-title {
  color: rgb(17, 17, 17);
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 24px;
}
.hero .hero-flex .hero-description .hero-title span {
  text-transform: uppercase;
}
.hero .hero-flex .hero-description .hero-title::first-letter {
  text-transform: capitalize;
}
.hero .hero-flex .hero-description .hero-paragraph {
  color: rgb(85, 85, 85);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 32px;
}

.banner {
  min-width: 428px;
  height: 326px;
  background-image: url(/images/assets/background.svg);
}/*# sourceMappingURL=main.css.map */