@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #fff;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.container {
  max-width: 1280px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.flexSpBt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.btn {
  font-family: "Inter", sans-serif;
  border-radius: 49.46px;
  border: 4px solid black;
  background-color: #fff;
  padding: 22px 52px 23px 52px;
  color: rgb(17, 17, 17);
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
}

.btn-gradient {
  background: -webkit-gradient(linear, left top, right bottom, from(#fff), to(#fff)) padding-box, -webkit-gradient(linear, left top, right bottom, from(#FF3998), color-stop(#FF8139), color-stop(#39FFA0), to(#FF3939)) border-box;
  background: linear-gradient(to bottom right, #fff, #fff) padding-box, linear-gradient(to bottom right, #FF3998, #FF8139, #39FFA0, #FF3939) border-box;
  border-radius: 49.46px;
  border: 4px solid transparent;
}

.header {
  padding-top: 32px;
  z-index: 10;
  top: 0;
}
.header .burgerIcon {
  color: rgb(153, 153, 153);
  font-size: 22px;
}
.header .dekstopMenu {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
.header .dekstopMenu > a {
  padding: 4px;
  font-size: 20px;
  font-weight: 400;
  color: rgb(85, 85, 85);
}
.header .dekstopMenu :hover {
  color: rgb(255, 57, 152);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero {
  max-width: 1280px;
  overflow: hidden;
  margin-bottom: 80px;
  margin-left: 2rem;
}
.hero .hero-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 42px;
}
.hero .hero-flex .hero-img-div {
  position: relative;
  min-width: 400px;
}
.hero .hero-flex .hero-img-div .hero-img {
  position: absolute;
  height: 400px;
  top: -48px;
  left: -85px;
  overflow: hidden;
  z-index: -1;
}
.hero .hero-flex .hero-description {
  padding-top: 38px;
  min-width: 274px;
}
.hero .hero-flex .hero-description .hero-pretitle {
  color: rgb(255, 57, 152);
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 24px;
}
.hero .hero-flex .hero-description .hero-title {
  color: rgb(17, 17, 17);
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 24px;
}
.hero .hero-flex .hero-description .hero-title span {
  text-transform: uppercase;
}
.hero .hero-flex .hero-description .hero-title::first-letter {
  text-transform: capitalize;
}
.hero .hero-flex .hero-description .hero-paragraph {
  color: rgb(85, 85, 85);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 32px;
}

.background-div {
  min-width: 428px;
  height: 326px;
  background-image: url(/images/assets/background.svg);
  background-size: cover;
  background-position: 5% 50%;
}

.banner-div {
  padding-top: 122px;
}
.banner-div .banner-title {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 16px;
}
.banner-div .banner-title span {
  text-transform: uppercase;
}
.banner-div .banner-title::first-letter {
  text-transform: capitalize;
}
.banner-div .banner-paragraph {
  color: rgb(17, 17, 17);
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
}

.moreinfo .company-logos {
  padding-top: 65px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 28px;
  -webkit-column-gap: 75px;
     -moz-column-gap: 75px;
          column-gap: 75px;
}
.moreinfo .company-logos img {
  place-self: center;
  max-width: 100%;
}
.moreinfo .company-logos .openDoorsimg {
  display: none;
}
.moreinfo .products-description {
  padding-top: 56px;
}
.moreinfo .products-description .product-title {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 16px;
}
.moreinfo .products-description .product-paragraph {
  font-size: 20px;
  line-height: 150%;
  color: rgb(85, 85, 85);
  margin-bottom: 0px;
}
.moreinfo .products-description .product-paragraph a {
  text-decoration: underline;
}

.product-cards {
  overflow: hidden;
  margin-left: 2rem;
}
.product-cards .products-flex {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 620px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 20px;
}

.product-card {
  min-width: 290px;
  min-height: 400px;
}
.product-card .card-info-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  border: none;
  padding: 24px;
  width: 100%;
  background-color: rgb(238, 238, 238);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.product-card .card-info-div__pDescr {
  font-size: 12px;
  color: rgb(255, 129, 57);
  text-transform: uppercase;
  margin-bottom: 1em;
}
.product-card .card-info-div__pTitle {
  font-size: 20px;
  color: rgb(17, 17, 17);
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 12px;
}
.product-card .card-info-div__pNb {
  font-size: 18px;
  color: rgb(119, 119, 119);
  margin-bottom: 0px;
}
.product-card .card-info-div .card-info-right :first-child {
  text-align: end;
  color: rgb(119, 119, 119);
  font-weight: 500;
}
.product-card .card-info-div .card-info-right :last-child {
  text-align: end;
  color: rgb(119, 119, 119);
  font-weight: 400;
}
.product-card .card-info-div .card-info-div__pFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.product-card .card-info-div .card-info-div__pFlex > p {
  margin-bottom: 0px;
  padding-left: 8px;
}

.upsell {
  overflow: hidden;
}
.upsell .hr {
  background-color: rgba(17, 17, 17, 0.08);
  width: 100%;
  height: 2px;
  margin-top: 92px;
  margin-bottom: 0px;
}
.upsell .hr2 {
  position: absolute;
  background-color: rgba(17, 17, 17, 0.08);
  width: 100%;
  height: 2px;
  margin-top: 327px;
  margin-bottom: 0px;
}
.upsell .hr3 {
  background-color: rgba(17, 17, 17, 0.08);
  width: 100%;
  height: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.upsell-bgFlex {
  margin-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.upsell-bgFlex .upsell-text-flex .upsell-title-box {
  width: 274px;
}
.upsell-bgFlex .upsell-text-flex .upsell-title-box .upsell-pretitle {
  color: rgb(255, 57, 152);
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
  padding-top: 64px;
}
.upsell-bgFlex .upsell-text-flex .upsell-title-box .upsell-title {
  color: rgb(17, 17, 17);
  font-weight: 900;
  font-size: 56px;
  margin-bottom: 24px;
}
.upsell-bgFlex .upsell-text-flex .upsell-title-box .upsell-title span {
  text-transform: uppercase;
}
.upsell-bgFlex .upsell-text-flex .upsell-title-box .upsell-title::first-letter {
  text-transform: capitalize;
}
.upsell-bgFlex .upsell-text-flex .upsell-fup-box {
  width: 207px;
}
.upsell-bgFlex .upsell-text-flex .upsell-fup-box .upsell-paragraph {
  color: rgb(85, 85, 85);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 32px;
  margin-bottom: 32px;
  padding-top: 5px;
}
.upsell-bgFlex .upsell-text-flex .upsell-fup-box .btn {
  margin-bottom: 66px;
}
.upsell-bgFlex .upsell-img-flex {
  position: relative;
}
.upsell-bgFlex .upsell-img-flex .upsell-img {
  position: absolute;
  z-index: -1;
  top: 162px;
  left: -54px;
}

.footer {
  margin-left: 32px;
  overflow: hidden;
}
.footer .footerLogo {
  padding-top: 64px;
  margin-bottom: 30px;
}
.footer .footer-title {
  font-weight: 400;
  font-size: 20px;
  color: rgb(85, 85, 85);
  margin-bottom: 32px;
}
.footer .socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
  margin-bottom: 64px;
  color: rgb(153, 153, 153);
  font-size: 21px;
  margin-bottom: 64px;
}
.footer .socialIcons .fb-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}
.footer .socialIcons .fbcircle {
  position: absolute;
  height: 46px;
  width: 47px;
  color: rgba(255, 255, 255, 0);
  border: 15px solid rgb(255, 255, 255);
  border-radius: 50%;
  left: -14.2px;
  top: -11.5px;
}
.footer .socialIcons .tiktokIcon {
  font-size: 17px;
}

.footer-bgGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 24px;
}
.footer-bgGrid .footer-cards .footer-card-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
  gap: 16px;
}
.footer-bgGrid .footer-cards .footer-card-flex__title {
  color: rgb(85, 85, 85);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}
.footer-bgGrid .footer-cards .footer-card-flex > a {
  font-size: 20px;
  color: rgb(85, 85, 85);
}

.copyrightsFLex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1440px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 105px;
  margin-right: 32px;
}
.copyrightsFLex p {
  color: rgb(153, 153, 153);
  font-size: 20px;
}
.copyrightsFLex .footer-end-dkstp {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  section {
    max-width: 1280px;
    margin-left: 80px;
    margin-right: 80px;
  }
  .header {
    padding-top: 70px;
    margin-left: 80px;
    margin-right: 80px;
  }
  .header .flexSpBt .dekstopMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .flexSpBt .burgerIcon {
    display: none;
  }
  .hero {
    margin-bottom: 0px;
    margin-left: 80px;
    margin-right: 0px;
    max-width: 1440px;
  }
  .hero .border-div {
    height: 519px;
    width: 1120px;
    border: 1px solid #000;
  }
  .hero .hero-flex {
    padding-top: 182px;
    padding-bottom: 200px;
  }
  .hero .hero-flex .hero-description {
    padding-top: 0;
    max-width: 620px;
  }
  .hero .hero-flex .hero-description .hero-pretitle {
    color: rgb(255, 57, 152);
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 24px;
  }
  .hero .hero-flex .hero-description .hero-title {
    font-size: 96px;
    margin-bottom: 32px;
  }
  .hero .hero-flex .hero-description .hero-paragraph {
    margin-bottom: 41px;
    max-width: 537px;
  }
  .hero .hero-flex .hero-img-div .hero-img {
    height: 766px;
    top: -93px;
    left: -41px;
  }
  .background-div {
    height: 320px;
    background-position: 10%;
    border-radius: 20px;
  }
  .background-div .banner-title {
    line-height: 48px;
    margin-bottom: 24px;
  }
  .background-div .banner-paragraph {
    line-height: 30px;
  }
  .background-div .container {
    margin-left: 64px;
    margin-bottom: 64px;
    padding-top: 154px;
  }
  .moreinfo {
    margin-left: 80px;
    margin-right: 80px;
  }
  .moreinfo .company-logos {
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .moreinfo .company-logos img:first-of-type {
    justify-self: start;
  }
  .moreinfo .company-logos img {
    justify-self: end;
    max-width: 100%;
  }
  .moreinfo .company-logos .openDoorsimg {
    display: block;
  }
  .moreinfo .products-description {
    padding-top: 120px;
  }
  .product-cards {
    margin-left: 80px;
  }
  .product-cards .products-flex {
    padding-top: 56px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .upsell .hr {
    margin-top: 120px;
  }
  .upsell .hr2 {
    display: none;
  }
  .upsell-bgFlex {
    display: grid;
    grid-template-columns: 651px auto;
    width: 1280px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .upsell-bgFlex .upsell-img-flex .upsell-img {
    position: absolute;
    z-index: -1;
    top: 85px;
    left: 200px;
  }
  .upsell-bgFlex .upsell-text-flex .upsell-title-box {
    width: 651px;
  }
  .upsell-bgFlex .upsell-text-flex .upsell-fup-box {
    width: 651px;
  }
  .upsell-bgFlex .upsell-text-flex .upsell-fup-box .upsell-paragraph {
    max-width: 537px;
  }
  .upsell-bgFlex .upsell-text-flex .upsell-title-box .upsell-pretitle {
    padding-top: 120px;
  }
  .footer {
    margin-left: 80px;
    margin-right: 80px;
    max-width: 1280px;
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer .socialIcons {
    margin-bottom: 120px;
  }
  .footer .footerLogo {
    padding-top: 0px;
  }
  .footer .footer-bgGrid {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-bottom: 0px;
  }
  .footer .footer-bgGrid .footer-cards .footer-card-flex {
    margin-bottom: 0px;
  }
  .footer .copyrightsFLex {
    grid-column: span 2;
    margin-bottom: 71px;
  }
  .footer .footer-end-dkstp {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */