@use 'mixins' as m;

// Dekstop version

@media only screen and (min-width: 1280px) {

section {
  max-width: 1440px;
  margin-left: 80px;
  margin-right: 80px;
}

// Header
.header{
padding-top: 70px;
  @include m.dekstopMargins;
position: sticky;
background-color: rgb(60, 87, 87);
  .flexSpBt{
    .dekstopMenu{
      display: flex;
    }
    
  .burgerIcon {
    display: none;
  }
  } 
}

// Hero
.hero{
  @include m.dekstopMargins;

}

// Banner
.background-div{
  height: 320px;
  background-position: 10%;
  border-radius: 20px;
  width: 1280px;

  .banner-title{
    line-height: 48px;
    margin-bottom: 24px;
  }

  .banner-paragraph{
    line-height: 30px;
  }

  .container{
    margin-left: 64px;
    margin-bottom: 64px;
    padding-top: 154px;
  }
}

// Moreinfo
.moreinfo{
  @include m.dekstopMargins;
  .company-logos{
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    img{
      place-self: center;
      max-width: 100%;
    }

    .openDoorsimg{
      display: block;
    }
  }

  .products-description{
    padding-top: 120px
  }
}

// Product cards
.product-cards{
  margin-left: 80px;
}
.product-cards .products-flex{
  padding-top: 56px;
}

// Upsell

.upsell .hr{
  margin-top: 120px;
}

.upsell .hr2 {
  display: none;
}

// .upsell .upsell-bgFlex{
//   display: grid;
//   grid-template-columns: 310px auto;
//   width: 1280px;
// }
}
// .upsell-bgFlex{
//   display: grid;
//   grid-template-columns: 310px auto;
//   width: 1280px;
// }

// .upsell-bgFlex .upsell-text-flex .upsell-title-box .upsell-pretitle{
//   padding-top: 120px;
// }

// .upsell-bgFlex .upsell-text-flex .upsell-title-box{
//   width: 310px;
// }

// .upsell-bgFlex .upsell-text-flex .upsell-fup-box{
//   width: 310px;
// }

// .upsell-bgFlex .upsell-img-flex .upsell-img {
//   position: absolute;
//   z-index: -1;
//   top: 85px;
//   left: 0;
// }


