
@use 'vars' as v;
@use 'mixins' as m;


// Dekstop version

@media only screen and (min-width: 1280px) {

// Generic

.container{
  max-width: 1280px;
}

section {
  max-width: 1280px;
  @include m.dekstopMargins;
}


// Header
.header{
padding-top: 70px;
  @include m.dekstopMargins;

  .flexSpBt{
    .dekstopMenu{
      display: flex;
    }
    
  .burgerIcon {
    display: none;
  }
  } 
}

// Hero
.hero{
    margin-bottom: 0px;
    margin-left: 80px;
    margin-right: 0px;
    max-width: 1440px;

  .border-div{
    height: 519px;
    width: 1120px;
    border: 1px solid #000;

  }

  .hero-flex{
    padding-top: 182px;
    padding-bottom: 200px;

    .hero-description{
      padding-top: 0;
      max-width: 620px;

      .hero-pretitle{
        @include m.pretitle;
        text-align: left;
        margin-bottom: 24px;
      }

      .hero-title{
        font-size: 96px;
        margin-bottom: 32px;
      }
      .hero-paragraph{
        margin-bottom: 41px;
        max-width: 537px;
      }
    }

    .hero-img-div .hero-img{
      height: 766px;
      top: -93px;
      left: -41px;  
    }
  }

}

// Banner
.background-div{
  height: 320px;
  background-position: 10%;
  border-radius: 20px;

  .banner-title{
    line-height: 48px;
    margin-bottom: 24px;
  }

  .banner-paragraph{
    line-height: 30px;
  }

  .container{
    margin-left: 64px;
    margin-bottom: 64px;
    padding-top: 154px;
  }
}

// Moreinfo
.moreinfo{
  @include m.dekstopMargins;
  .company-logos{
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    img:first-of-type{
      justify-self: start;
    }

    img{
      justify-self: end;
      max-width: 100%;
    }

    .openDoorsimg{
      display: block;
    }
  }

  .products-description{
    padding-top: 120px
  }
}

// Product cards
.product-cards{
  margin-left: 80px;
}
.product-cards .products-flex{
  padding-top: 56px;
  justify-content: space-between;
}

// Upsell
.upsell{

  .hr{
    margin-top: 120px;
  }

  .hr2 {
    display: none;
  }
}

.upsell-bgFlex{
  display: grid;
  grid-template-columns: 651px auto;
  width: 1280px;
  margin-left:0px;
  margin-right:0px;

  .upsell-img-flex .upsell-img {
    position: absolute;
    z-index: -1;
    top: 85px;
    left: 200px;
  }

  .upsell-text-flex{

    .upsell-title-box{
      width: 651px;
    }

    .upsell-fup-box{
      width: 651px;

      .upsell-paragraph{
        max-width: 537px;
      }
    }
    
    .upsell-title-box .upsell-pretitle{
      padding-top: 120px;
    }
  } 
}

// Footer
.footer{
    @include m.dekstopMargins;
  max-width: 1280px;
  padding-top: 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .socialIcons{
    margin-bottom: 120px;
  }

  .footerLogo{
    padding-top: 0px;
  }

  .footer-bgGrid{
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-bottom: 0px;

    .footer-cards .footer-card-flex{
      margin-bottom: 0px;
    }
  }

  .copyrightsFLex{
    grid-column: span 2;
    margin-bottom: 71px;
  }
  .footer-end-dkstp{
    display: block;
  }
}

}