@use 'vars' as v;

// text helpers
@mixin uppercase {
  span{
    text-transform: uppercase;
  }
  &::first-letter{
    text-transform: capitalize;
  }
}

@mixin pretitle{
  color: v.$secondary-pink-color;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin custom-paragraph{
  color: v.$dark2-color;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 32px;
}

// spacing and gaps
@mixin hline($mt:92px, $mb:0px){
  background-color:rgba(17, 17, 17, 8%);
  width: 100%;
  height: 2px;
  margin-top: $mt;
  margin-bottom: $mb;
}

@mixin dekstopMargins{
  margin-left: 80px;
  margin-right: 80px;
}

// containers
@mixin flex-overfl($basis:274px) {
  flex-basis: $basis;
  flex-grow: 0;
  flex-shrink: 0;
}

@mixin flexRowCtr{
  display: flex;
  align-items: center;
  flex-direction: row;
}

