// text helpers

@mixin uppercase {
  span{
    text-transform: uppercase;
  }
  &::first-letter{
    text-transform: capitalize;
  }
}

// containers

@mixin flex-overfl($basis:274px) {
  flex-basis: $basis;
  flex-grow: 0;
  flex-shrink: 0;
}