  * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ededed;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}
/* 
button {
  font-size: 16px;
  padding: 0.3em 0.8em;
  border-radius: 4px;
  border: 1px solid #777;
  cursor: pointer;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.card {
  padding: 1rem;
  box-shadow: 5px 5px 10px rgb(180, 190, 194);
  border: 1px solid rgb(191, 180, 180);
  border-radius: 5px;
  background-color: snow;
}

/*  helpers */

.flex {
  display: flex;
  gap: 1rem;
}

.flex-col {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.max-w-300 {
  max-width: 300px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}