

// colors

$secondary-color: rgba(153, 153, 153, 1);
$dark2-color: rgba(85, 85, 85, 1);
$dark3-color: rgba(238, 238, 238, 1);
$dark4-color: rgba(119, 119, 119, 1);
$dark5-color: rgba(153, 153, 153, 1);

$secondary-pink-color: rgba(255, 57, 152, 1);
$black-color:rgba(17, 17, 17, 1);
$orange-color:rgba(255, 129, 57, 1);
$pink-color: rgba(255, 57, 152, 1);




