// Links
@use 'reset';
@use 'vars' as v;
@use 'mixins' as m;
@use 'commons';

// imports
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");



// Header
.header  {
  padding-top: 32px;
  z-index: 10;
  top: 0;

  .burgerIcon{
  color: v.$secondary-color;
  font-size: 22px;
  }

  .dekstopMenu{
    display: none;
    flex-direction: row;
    gap: 20px;

    > a{
      padding: 4px;
      font-size: 20px;
      font-weight: 400;
      color: v.$dark2-color;
      }

    :hover{
      color: v.$pink-color;
      transition: 0.3s;
    }
  }
}

//  Hero
.hero{
  max-width: 1280px;
  overflow: hidden;
  margin-bottom: 80px;
  margin-left: 2rem;
  
  .hero-flex{
    display:flex;
    flex-direction: row ;
    padding-top: 42px;

    .hero-img-div{
      position: relative;
      min-width: 400px;
    
      .hero-img{
        position: absolute;
        height: 400px;
        top: -48px;
        left: -85px;
        overflow: hidden;
        z-index: -1;
      }
    }

    .hero-description{
      padding-top: 38px;
      min-width: 274px;

        .hero-pretitle{
          @include m.pretitle;
          text-align: left;
          margin-bottom: 24px;
        }
        .hero-title{
          color: v.$black-color;
          font-weight: 900;
          font-size: 48px;
          margin-bottom: 24px;
            @include m.uppercase;
        }
        .hero-paragraph{
          @include m.custom-paragraph;
        }
    }
  }
}

// Banner
.background-div{
  min-width: 428px;
  height: 326px;
  background-image: url(/images/assets/background.svg);
  background-size: cover;
  background-position: 5% 50%;
}

.banner-div{
  padding-top: 122px;
  
  .banner-title{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 16px;
      @include m.uppercase;
    }
  .banner-paragraph{
    color: v.$black-color;
    font-size: 20px;
    line-height: 150%;
    font-weight: 400;
  }
}

// MoreInfo
.moreinfo{
  .company-logos{
    padding-top: 65px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 28px;
    column-gap: 75px;

    img{
      place-self: center;
      max-width: 100%;
    }
    .openDoorsimg{
      display: none;
    }
  }

  .products-description{
    padding-top: 56px;

    .product-title{
      font-weight: 500;
      font-size: 40px;
      margin-bottom: 16px;      
    }
    .product-paragraph{
      font-size: 20px;
      line-height: 150%;
      color: v.$dark2-color;
      margin-bottom: 0px;
        a{
          text-decoration: underline;
        }
    } 
  }
}


// Product cards
.product-cards{
  overflow: hidden;
  margin-left: 2rem;

  .products-flex{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    min-width: 620px;
    column-gap: 40px;
    row-gap: 20px;
  }
}

.product-card{
  min-width: 290px;
  min-height: 400px;

  .card-info-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    border: none;
    padding: 24px;
    width: 100%;
    background-color: v.$dark3-color;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;

    &__pDescr{
      font-size: 12px;
      color: v.$orange-color;
      text-transform: uppercase;
      margin-bottom: 1em;
    }
    &__pTitle{
      font-size: 20px;
      color: v.$black-color;
      font-weight: 500;
      text-transform: capitalize; 
      margin-bottom: 12px;
    }
    &__pNb{
      font-size: 18px;
      color: v.$dark4-color;
      margin-bottom: 0px;
    }

    .card-info-right :first-child {
      text-align: end;
      color: v.$dark4-color;
      font-weight: 500;
    }
    .card-info-right :last-child {
      text-align: end;
      color: v.$dark4-color;
      font-weight: 400;
    }

    .card-info-div__pFlex{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
      .card-info-div__pFlex > p {
        margin-bottom: 0px;
        padding-left: 8px;
    }
  }
}

// Upsell
.upsell{
  overflow: hidden;

 .hr{
      @include m.hline;
  }
  .hr2{
    position: absolute;
    @include m.hline($mt:327px, $mb:0px);
  }
  .hr3{
    @include m.hline($mt:0px, $mb:0px);
  }
}

.upsell-bgFlex{
  margin-left: 32px;
  display: flex;
  flex-direction: row;

  .upsell-text-flex{

    .upsell-title-box{
      width: 274px;

      .upsell-pretitle{
        @include m.pretitle;
        margin-bottom: 24px;
        padding-top: 64px;
      }
    
      .upsell-title{
        color: v.$black-color;
        font-weight: 900;
        font-size: 56px;
        margin-bottom: 24px;
          @include m.uppercase;
      }
    }

    .upsell-fup-box{
      width: 207px;

      .upsell-paragraph{
          @include m.custom-paragraph;
        margin-bottom: 32px;
        padding-top: 5px;
      }
      .btn{
        margin-bottom: 66px;
      }
    }
  }

  .upsell-img-flex{
    position: relative;

    .upsell-img{
      position: absolute;
      z-index: -1;
      top: 162px;
      left: -54px;
    }
  }
}

// Footer
.footer{
  margin-left: 32px;
  overflow: hidden;

  .footerLogo{
    padding-top: 64px;
    margin-bottom: 30px;
  }

  .footer-title{
    font-weight: 400;
    font-size: 20px;
    color: v.$dark2-color;
    margin-bottom: 32px;
  }

  .socialIcons{
      @include m.flexRowCtr;
    gap: 16px;
    margin-bottom: 64px;
    color: v.$dark5-color;
    font-size: 21px;
    margin-bottom: 64px;
    
    .fb-div{
        @include m.flexRowCtr;
      position: relative;
    }
    .fbcircle{
      position: absolute;
      height: 46px;
      width: 47px;
      color: rgba(255, 255, 255, 0);  
      border: 15px solid rgb(255, 255, 255);
      border-radius: 50%;
      left: -14.2px;
      top: -11.5px;
    }

    .tiktokIcon{
      font-size: 17px;
    }
  }
}

.footer-bgGrid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 24px;

  .footer-cards{

    .footer-card-flex{
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      gap: 16px;

      &__title {
        color: v.$dark2-color;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 8px;
      }

      >a{
        font-size: 20px;
        color: v.$dark2-color;
      }
    }
  }
}

.copyrightsFLex{
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  justify-content: space-between;
  margin-bottom: 105px;
  margin-right: 32px;

    p{
      color: v.$dark5-color;
      font-size: 20px;
    }

  .footer-end-dkstp{
  display: none;
  }
}



@import 'media';