// Links
@use 'reset';
@use 'vars' as v;
@use 'commons';


// imports

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");




// Header

.header  {
  padding-top: 32px;
  overflow: hidden;


  .burgerIcon{
  color: v.$secondary-color;
  font-size: 22px;
  }

  // .logo{
  //   min-height: 36px;
  //   min-width: 198px;
  // }
}


  .hero{
  max-width: 1280px;
  overflow: hidden;
  

  .hero-flex{
  display:flex;
  padding-top: 42px;
  min-width: 482.62px;

  .hero-description{
    max-width: 274px;
    padding-top: 38px;
    justify-self: end;
    position: relative;
  }

  .hero-img{
    object-fit: fill;
    max-width: none;
    max-height: 302px;
  }
    }
  }





@import 'media';